.login {
    width: 100%;
    height: 100vh;
    background-color: #e84b3a;
}

.loginarea{
    margin:auto;
    text-align:center;
    width:40%;
    height:100%;
    padding-top:20px;
}

.loginbox {
    padding:10px;
    margin: auto;
    margin-top:30px;
    text-align: center;
    width: 60%;
    background-color: white;
    height: 300px;
    box-shadow: 5px 5px 2px #c0392b;    
}

.registerbox {
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    width: 60%;
    background-color: white;
    height: 520px;
    box-shadow: 5px 5px 2px #c0392b;
}

mamam {
    font-family: 'Righteous', cursive;
    font-size:40px;
}

.loginbla{
    font-size:28px;
    color:white;
}

.loginh1 {
    color: #595959;
    font-size: 24px;
}

loginitem {
    color:#c0392b;
}
.loginitem {
    color: #c0392b;
}

.loginitem:hover{
    text-decoration:none;
    color:green;
}

.logininput{
    padding:10px;
    text-align:left;
}

.logintextbox {
    border: none;
    border-bottom: 1px solid #808080;
    width:400px;
    margin-bottom:30px;
}

*:focus{
    outline:none;
}

input[type=submit] {
    margin-top: 10px;
    border: none;
    background-color: #e84b3a;
    color: white;
    width: 400px;
    padding: 10px;
    box-shadow: 2px 2px 2px #c0392b;
    margin-bottom:5px;
}